.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* [class*="col-"] {
  float: left;
  padding: 15px;
} */


.dashboard{
    display: flex;
}

.dashboard::after {
    content: "";
    clear: both;
    display: table;
  }

.sidebar{
    background-color: aliceblue;
    width: 200px; /* Adjust width as needed */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; /* Optionally set bottom to make it full height */
    overflow-y: auto;
}

.sidebar ul{
    padding: 15% 0% 0% 0%;
}

.sidebar ul li{
    list-style-type: none;
    padding: 5% 0%;
    border-bottom: 1px solid #9f9e9e;
}

.sidebar ul li a{
    text-decoration: none;
    color: black;
}

.detail{
    flex: 1;
    padding-left: 220px; 
}